<% include ./partials/header.ejs %>

<div class = "ui main text container segment">
    <div class = "ui huge header">Edit <%= foundBlogs.title %></div>
    
    <form class = "ui form" action="/blogs/<%= foundBlogs._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name ="blog[title]" value="<%= foundBlogs.title %>" >
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name ="blog[image]" value="<%= foundBlogs.image %>" >
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]"  > <%= foundBlogs.body %> </textarea>
        </div>
        <button class="ui black big basic button" type="Submit">Edit Blog</button>
        
    </form>
</div>

<% include ./partials/footer.ejs %>